@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Hammersmith+One&family=Mukta&family=Ruda:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
$normalFont:'Mukta', sans-serif;
$boldFont: 'Montserrat', sans-serif;
//$boldFont:  'Changa', sans-serif;
$otherfont: 'Changa', sans-serif;
$theme:#264d73; //#0099cc;
$colorFont: #333333;
$touchcolor: #e65c00;
$whitcolor:#ffffff;
$greycolor: #1e2f2f;

%general{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
}
%genAfter{
  display: table;
  content: "";
  clear: both;}

%three{
  width: 33.3%;
  height: auto;
  float: left;
  padding: 0;
}
%dark{
  position:absolute;
  content:"";
  display:block;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
%button{
  position: relative;
  min-width: 130px;
  left: 0;
  background: transparent;
  color:$whitcolor;
  font-size: 1.1em;
  text-transform: capitalize;
  font-weight: 100px;
  padding: 7px 14px;
  border:2px solid $whitcolor;
  border-radius: 10%;
  transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}
 %button-hover{
   background: $theme;
   border:2px solid $theme;
   color:$whitcolor;
 }
 %focus-active{
   border:2px solid $theme;
   outline: none !important;
   outline:0;
 }
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    font-size: 100%;
    font-family: $normalFont;
    a {
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
    }
 p{
  color: $colorFont;
  font-size: 0.9em;
  font-family: $normalFont;
}
h1{
  font-weight: 600;
  font-family: $boldFont;
  color: $colorFont;
}
 h2, h3, h4{
  font-size: 2.8em;
  font-weight: bold;
  font-family: $boldFont;
  color: $whitcolor;
}
h3{
  font-size: 1.5em;
  font-weight: 500;
}
h4{ font-size: 1em}
}
 .container-fluid{
   width: 100%;
   height: auto;
   padding: 0;
 }
 .animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
 @keyframes fadeInUp{
   from {
     opacity: 0;
     -webkit-transform: translate3d(0, 100px, 0);
     transform: translate3d(0, 100px, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }


 @-webkit-keyframes fadeInUp {
   from {
     opacity: 0;
     -webkit-transform: translate3d(0, 40px, 0);
     transform: translate3d(0, 40px, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

 @keyframes fadeInDown {
   from {
     opacity: 0;
     -webkit-transform: translate3d(0, -100px, 40px);
     transform: translate3d(0, -100px, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }
 @-webkit-keyframes fadeInDown {
   from {
     opacity: 0;
     -webkit-transform: translate3d(0, -100px, 40px);
     transform: translate3d(0, -100px, 40px);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

 @keyframes fadeInLeft {
   from {
     opacity: 0;
     -webkit-transform: translate3d(-100px, 0, 0);
     transform: translate3d(-100px, 0, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }
 @-webkit-keyframes fadeInLeft {
   from {
     opacity: 0;
     -webkit-transform: translate3d(-100px, 0, 0);
     transform: translate3d(-100px, 0, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }

 @keyframes fadeInRight {
   from {
     opacity: 0;
     -webkit-transform: translate3d(100px, 0, 0);
     transform: translate3d(100px, 0, 0);
   }

   to {
     opacity: 1;
     -webkit-transform: none;
     transform: none;
   }
 }
     @-webkit-keyframes fadeInRight {
       from {
         opacity: 0;
         -webkit-transform: translate3d(100px, 0, 0);
         transform: translate3d(100px, 0, 0);
       }

       to {
         opacity: 1;
         -webkit-transform: none;
         transform: none;
       }
     }
         @keyframes fadeIn{
           0% { opacity: 0.0;}
           100% {opacity: 1;}
         }

         @-webkit-keyframes fadeIn {
           0% {opacity: 0.0;}
           100% {opacity: 1;}
         }
         @-webkit-keyframes flipInX {
      0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }

      100% {
        -webkit-transform: perspective(900px);
        transform: perspective(900px);
      }
    }

    @keyframes flipInX {
      0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }

      100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
      }
    }

    .flipInX {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipInX;
      animation-name: flipInX;
      animation-duration: .45s;
      -webkit-animation-duration:.45s;

    }
     .fadeInRight {
       -webkit-animation-name: fadeInRight;
       animation-name: fadeInRight;
     }
     .fadeInUp {
       -webkit-animation-name: fadeInUp;
       animation-name: fadeInUp;
     }
     .fadeInLeft {
       -webkit-animation-name: fadeInLeft;
       animation-name: fadeInLeft;
     }
     .fadeInDown {
       -webkit-animation-name: fadeInDown;
       animation-name: fadeInDown;
     }
     .fadeIn {
       animation-name: fadeIn;
       -webkit-animation-name: fadeIn;

       animation-duration: .5s;
       -webkit-animation-duration: .5s;

       animation-timing-function: ease-in;
       -webkit-animation-timing-function: ease-in;

       animation-fill-mode:forwards;
       -webkit-animation-fill-mode:forwards;
       visibility: visible !important;
     }

     header{
       @extend %general;
       min-height: 110px;
       background:$theme;
       padding-top: 5px;
       nav{
         @extend %general;
         margin: auto;

         .call, .email, .socials, .login{
          @extend %three;
          width: 25%;
          color: $whitcolor;
          padding-top: 20px;
          text-align: center;
          text-indent: 2px;

          p{
            text-align: center;
            color: $whitcolor;
            font-size: 0.8em;
            span{
              font-weight: bold;
              font-size: 0.8em;
            }

            a{
              color:$whitcolor;
              font-weight: normal;
              font-style: none;
              font-variant: normal;

              &:hover{
                font-style: none;
                text-decoration: none;
                opacity: 0.8;
              }
              }

          }
          .fa {
            padding: 10px;
            padding-top: 0;
            font-size: 0.8em;
            width: 20px;
            text-align: center;
            text-decoration: none;
            margin: 3px 2px;
            color:$whitcolor;
          }

          .fa:hover {
            opacity: 0.7;
          }
         }

         &:after{
            @extend %genAfter;
          }


       }

       .navbar{
         @extend %general;
         margin: 0;
         position: absolute;
         top: 64%;
         left: 7.1%;
         width: 85%;
         height: 74px;
         background-color: $whitcolor;
         z-index: 3;

         .container-fluid{
           @extend %general;
           height: 100%;
           padding-left: 10px;
           padding-right: 10px;
           background-color: $whitcolor;

            .navbar-brand{
              @extend %three;
              width: 20%;

              img{
                display: block;
                width: 73%;
              }
            }
            .ulist{
              @extend %three;
              width: 100%;
              padding-left: 160px;

            ul{
                margin:0;
                float: right;
              li{
                left: 0;
                padding:10px;
                float: right;

                a{
                  font-weight: bold;
                  font-size: 0.9em;
                }
              }

            }
          }
            .lower{
              @extend %three;
              width: 50%;
              padding: 10px;
              padding-right: 0;
              right: 0;
              margin-left: 80px;
              a{
                margin: 5px;
                text-decoration: none;
                i{}
                }
              .open{
                margin-left: 6px;
              }
            }
            .menI{
              display: none;
              float: right;

            }
         }
          &:after{@extend %genAfter;}
       }

   }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color:$theme;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  .user-logo{
    @extend %general;
    margin: auto;
    i{
      width: 100%;
      height:auto;
      margin: auto;
    }
  }

 a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: $whitcolor;
  display: block;
  transition: 0.3s;
 &:hover {
  color: #f1f1f1;
}
}
ul{

}
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.carousel{
    @extend %general;
    border-radius: 0;
    padding: 0;

  .carousel-indicators{
    padding: 0;
    margin: 0;
    z-index: 2;
    button{
      width: 12px;
      height: 12px;
      border-radius: 100%;
      margin: 3px;
      background: transparent;
      border: 2px solid #ffff;
    }
    .active{
      background: #ffff;

    }
  }

.carousel-inner{
max-height: 95vh;
width: 100%;
padding: 0;
margin: 0;
border: none;
border-radius:0;
.carousel-item{
  position: relative;
  width: 100%;
  height: auto;
  overflow-y: hidden;


img{
     padding: 0;
     border-radius: 0;
   }

   .parallax-window{
    width:100%;
    height: 95vh;
    margin: 0;
    padding: 0;
    border-radius:0;
    background-image: url(static/images/d2.JPG);
    background-size: cover;
    -webkit-background-size: cover;
    -webkit-background-attachment: fixed!important;
    -moz-background-attachment: fixed!important;
    background-attachment: fixed!important;
    background-position: center top!important;
    }

  .carousel-caption {
  position: absolute;
  width: 70%;
  margin: 0;
  top: 40%;
  left: 50%;
  padding: 5% 0;
  text-align: right;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.5s;

  h2{
    font-weight: 100;
    text-transform: uppercase;
  }

  h4{
    font-size: 1.3em;
    text-transform: capitalize;
  }
  p{
    color: $whitcolor;
    text-transform: capitalize;
    font-size: 1.1em
  }

  button{
    @extend %button;

 &:hover{
   @extend %button-hover;
 }
 &:focus, &:active{
   border:2px solid $theme;
   outline: none !important;
   outline:0;
 }
}
  }

  .st{
    text-align: left;
  }
  .nd{
    text-align: center;
  }



  &::after {
    @extend %dark;
    background: rgba(15, 15, 10, 0.3);
   }
}
     }

 .carousel-control-prev, .carousel-control-next {
   position: absolute;
   width: 5%;
   height: 16%;
   margin: 0;
   top: 50%;
   left:5%;
   padding: 7px 14px;
   border:2px solid $whitcolor;
   border-radius: 20%;

   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   transition: 0.5s;

   .carousel-control-prev-icon, .carousel-control-next-icon{
     color: $whitcolor;
   }
   &:hover{
     background: $theme;
     border:3px solid $theme;
     color:$whitcolor;
   }
 }
.carousel-control-next{
       left: 95%;
     }
}

.Introduction{
position: relative;
width: 90%;
margin: auto;
margin-top: 30px;
margin-bottom: 10px;
overflow: hidden;

.intro-wrapper{
  @extend %general;
  padding: 10px;
  margin: 0;

  .col{
    @extend %three;
    width: 50%;
    padding: 10px;
    .img-wrap{
      @extend %general;
    img{
      width: 100%;
      height: auto;
    }
      &::after {
        @extend %dark;
        background: rgba(15, 15, 10, 0.3);
       }
    }

    h3{
      color: $greycolor;
      font-weight: 200;
      }

      p{
        color: $greycolor;
      }

     ul{
       position: relative;
       text-indent:0;
       padding-left:0;
        li{
          i{
            margin-right: 5px;
           color: $theme;
         }
          list-style: none;
          font-size: 0.9em;
        }
     }
     button{
       @extend %button;
       color: $whitcolor;
       background: $theme;
       padding: 4px 5px;

    &:hover{
      @extend %button-hover;
    }
    &:focus, &:active{
      border:2px solid transperent;
      outline: none !important;
      outline:0;
      }
  }

  &::after{
    @extend %genAfter;
  }
}

}
}

.services{
  @extend %general;
  height: auto;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;

  .tittle{
    position: relative;
    width: 60%;
    padding: 10px;
    margin: auto;
    text-align: center;
      h3{
        color: $greycolor;
        font-weight: 200;
        span{
          color: $theme;
        }
      }

      hr{
        position: relative;
        margin: auto;
        margin-top: 10px;
        max-width: 100px;
        border: 1px solid $theme;
        span{border-top: 1px dashed $theme;}
      }
}
  .column{
    @extend %three;
    padding:5px;

  .card {
      width: 100%;
      padding:0;
      padding-bottom: 0;
      text-align: center;
      background: transparent;
      border: none;
      opacity: 1;
      z-index: 2;

  .middle {
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: rgba(38, 77, 115, 0.5);
       overflow: hidden;
       width: 100%;
       height: 50px;
       transition: 1s ease;
                    .text {
                      background-color: $theme;
                      color: $whitcolor;
                      font-size: 16px;
                      padding: 16px 32px;
                      z-index: 10;
                    }
                    button{
                     position: relative;
                     margin: 10px;
                     margin-top: 25px;
                     background-color: $theme;
                     color:$whitcolor;
                     padding: 10px 15px;

                    }

    }

      &:hover .middle {
          height: 100%;
        }

    &:hover .image {
      opacity: 0.3;
    }
    }

    }

    &:after{
      @extend %genAfter;
    }

}
footer{
background-color:#060d13;
}


// Meta views: Small screen views
@media screen and (max-width: 650px){
html, body{
  p{font-size: 0.8em; }
  h2, h3, h4{ font-size: 1.6em;}
 h3{font-size: 1.6em;}
 h4{font-size: 1em}

 header{
   min-height: auto;
     nav{
     .call, .email, .socials, .login{
      width: 100%;
      padding-top: 0;

      .fa {
        font-size: 0.7em;
        width: 20px;
        margin: 3px 2px;
      }
      .fa:hover {
        opacity: 0.7;
      }
     }

     .menI{
       display: block;
       float: right;
       right: 5px;
     }
   }
}
   .navbar{
     margin: 0;
     position: relative;
     top:0;
     left:0;
     width: 100%;
     height: auto;

     .container-fluid{
       width: 100%;
        .navbar-brand{
          width: 100%;
          height: auto;

          img{
            display: block;
            margin: auto;
            width: 50%;
          }
        }
        .ulist{
          position: relative;
          width: 100%;
          padding-left:0;
        ul{
           width: 100%;
            margin:0;
            float: center;

          li{
            left: 0;
            padding:0px;
            float: center;

            a{
              font-weight: bold;
              font-size: 0.9em;
            }
          }

        }
      }
        .lower{
        //  @extend %three;
         position: relative;
          width:100%;
          padding: 10px;
          padding-right: 0;
          right: 0;
          margin-left: 0;
          a{
            margin: 5px;
            text-decoration: none;
            i{ color: $theme}
            }
          .open{
            margin-left: 6px;
            color: $theme;

          } }
          .menI{
            display: block;
            position: relative;
            float: right;
            margin-right: 0;
          }
        }}

}
.carousel{
  max-height: 70vh;
  .carousel-indicators{
    button{
      width: 10px;
      height: 10px;
    }
  }
  .carousel-inner{
    height:100%;
    img{
         height: 70vh;
         background-size: cover;
       }
  .carousel-item{
    height: 60vh;
    .carousel-caption {
      display: block;
      width: 80%;
      max-height: 200px !important;
      left: 50%;
      top:  40%;
      padding: 5% 0;

      h2{
        font-size: 1.3em
      }

      h4{
        font-size: 1em;
      }
      p{
        font-size: 0.9em
      }

      button{
        padding: 5px 5px;
        min-width: 100px;
        width: 100px;

      }
    }
    .d-md-block{
      display: block !important;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    top: 10%;
    left:90%;
    z-index: 4;
  }
 .carousel-control-next{
        left: 95%;
      }
  }

}

.Introduction{
width: 90%;
.intro-wrapper{
  .col{
    width: 100%;
    padding: 10px;
    .img-wrap{
      @extend %general;
 }
 }
}
}
.services{
  @extend %general;
  height: auto;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;

  .tittle{
    position: relative;
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
      h3{
        color: $greycolor;
        font-weight: 200;
        span{
          color: $theme;
        }
      }

      hr{
        position: relative;
        margin: auto;
        margin-top: 10px;
        max-width: 100px;
        border: 1px solid $theme;
        span{border-top: 1px dashed $theme;}
      }
}
  .column{
    @extend %three;
    padding:5px;
    width: 100%;
}}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
